.formulario-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 14rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 0;
    padding: 1rem;
    z-index: 2;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 100%;
    justify-content: space-between;

}

.nombre-apellido {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.nombre,
.email-input {
    height: 2rem;
    width: 45%;
    background-color: rgb(0, 0, 0, 0.8);
    border: none;
    border-radius: 5px;
    color: #ededed;

}

.cuadro-boton {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cuadro {
    height: 7rem;
    width: 360px;
    background-color: rgb(0, 0, 0, 0.8);
    border: none;
    border-radius: 5px;
    color: #ededed;
}

.boton {
    width: 30%;
    background-color: black;
    border: none;
    color: #ededed;
    font-family: Inter;
    border-radius: 5px;
    height: 3rem;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.text-area {
    width: 22rem;
    height: 10rem;
    background-color: rgb(0, 0, 0, 0.8);
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #ededed;
    padding: 1rem;
}

.formulario-enviar {
    width: 7rem;
    height: 3rem;
    margin: 1.5rem;
    background-color: rgb(87, 82, 82);
    border-radius: 15px;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

.formulario-enviar:hover {
    background-color: black;
}

.formulario-enviar h3 {
    font-size: 1rem;
    font-weight: 300;
}

.formulario-nombre label,
.formulario-email label {
    font-size: 1rem;
    color: #ededed;
    font-weight: 300;
}

.formulario-nombre input,
.formulario-email input {
    color: #ededed;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(0, 0, 0, 0.8);
    border: none;

}

.cuerpo-mensaje {
    display: flex;
    flex-direction: column;
}

.cuerpo-mensaje label {
    color: #ededed;
    font-weight: 300;
}

.titulo-contacto {
    font-size: 40px;
    font-family: Inter;
    color: #ededed;
    font-weight: 500;
    z-index: 2;
}

.bg {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-around !important;

}

.contacto {
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenedor-correo,
.contenedor-telefono {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20rem;
}

.telefono,
.correo {
    margin-left: 1rem;
}

.datos {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.dato {
    display: flex;
}

.divisor {

    height: 5rem;
    width: 0;
    color: #ededed;
    border: solid 1px #ededed
}

@media only screen and (max-width: 768px) {

    .contacto {
        width: 80%;
        margin-top: 5rem;
    }

    .formulario-contacto {
        width: 80%;
        height: 20rem;
    }

    .nombre-apellido {
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
    }

    .nombre,
    .email-input {
        height: 2.5rem;
        width: 100%;
    }

    .cuadro {
        margin-bottom: 1rem;
        width: 180px;
    }

    .whatsapp {
        left: 80% !important;
    }

    .datos {
        flex-direction: column;
    }

    .divisor {
        width: 10rem;
        height: 0;
        margin: 2rem;
    }

    .bg {
        background-size: contain !important;
        height: 57.95rem !important;
    }

    .overlay {
        height: 65rem !important;
    }

    .boton {
        height: 5rem;
        width: 50%;
    }
}